trigger:
  batch: true
  branches:
    include:
      - main
      - release/*

resources:
  repositories:
    - repository: niveristand-custom-device-build-tools
      type:       github
      ref:        main
      endpoint:   nivs-custom-devices
      name:       ni/niveristand-custom-device-build-tools

stages:
  - template: azure-templates/stages.yml@niveristand-custom-device-build-tools
    parameters:
      lvVersionsToBuild:
        - version: '2023'
          bitness: '64bit'
        - version: '2024'
          bitness: '64bit'
        - version: '2025'
          bitness: '64bit'

      buildSteps:
        - projectLocation: 'Source\Custom Device Support\Ballard ARINC 429 Support.lvproj'
          buildOperation: 'ExecuteBuildSpec'
          target: 'My Computer'
          buildSpec: 'Scripting API'

        - projectLocation: 'Source\Scripting Examples\Scripting Examples.lvproj'
          buildOperation: 'ExecuteBuildSpec'
          target: 'My Computer'
          buildSpec: 'Examples'

        - projectLocation: 'Source\Custom Device Support\Ballard ARINC 429 Support.lvproj'
          buildOperation: 'ExecuteBuildSpec'
          target: 'My Computer'
          buildSpec: 'System Explorer'

        - projectLocation: 'Source\Custom Device Support\Ballard ARINC 429 Support.lvproj'
          buildOperation: 'ExecuteBuildSpec'
          target: 'My Computer'
          buildSpec: 'Engine'

        - projectLocation: 'Source\Custom Device\Ballard ARINC 429 Custom Device.lvproj'
          buildOperation: 'ExecuteBuildSpec'
          target: 'My Computer'
          buildSpec: 'Configuration Release'

        - projectLocation: 'Source\Custom Device\Ballard ARINC 429 Custom Device.lvproj'
          buildOperation: 'ExecuteBuildSpec'
          target: 'My Computer'
          buildSpec: 'Engine Release'

        - projectLocation: 'Source\Custom Device Support\Ballard ARINC 429 Support.lvproj'
          buildOperation: 'ExecuteBuildSpec'
          target: 'Linux x64'
          buildSpec: 'Engine'

        - projectLocation: 'Source\Custom Device\Ballard ARINC 429 Custom Device.lvproj'
          buildOperation: 'ExecuteBuildSpec'
          target: 'Linux x64'
          buildSpec: 'Engine Release'

      releaseVersion: '25.0.0'
      buildOutputLocation: 'Source\Built'
      archiveLocation: '\\nirvana\Measurements\VeriStandAddons\ballard_arinc_429'

      packages:
        - controlFileName: 'control_custom_device'
          payloadMaps:
            - installLocation: 'documents\National Instruments\NI VeriStand $(lvVersion)\Custom Devices\Ballard'
              payloadLocation: 'Ballard'
            - installLocation: 'ni-paths-NISHAREDDIR$(nipkgx64suffix)\LabVIEW Run-Time\$(lvVersion)\errors\English'
              payloadLocation: 'Errors'

        - controlFileName: 'control_scripting'
          payloadMaps:
            - installLocation: 'ni-paths-LV$(lvVersion)DIR$(nipkgx64suffix)\vi.lib\addons\VeriStand Custom Device Scripting APIs\Ballard ARINC 429'
              payloadLocation: 'Scripting'
            - installLocation: 'ni-paths-LV$(lvVersion)DIR$(nipkgx64suffix)\examples\NI VeriStand Custom Devices\Ballard ARINC 429'
              payloadLocation: 'Scripting Examples'
            - installLocation: 'ni-paths-LV$(lvVersion)DIR$(nipkgx64suffix)\resource\errors\English'
              payloadLocation: 'Errors'
